mixin anchor(href, name)
    li(class="anchor-link")
        a(class="link" href=href) #{name}



mixin cardIndicadores(titulo, porcentaje, imagen, bodytitle, bodytext, boton)
    div(class="card-indicadores-item")
        div(class="card-indicadores-box")
            div(class="card-indicadores-title")
                div(class="card-indicadores-title-text")
                    h2=titulo
                div(class="card-indicadores-title-index")&attributes(attributes)
                    p=porcentaje
            div(class="card-indicadores-body")
                .body-box
                    .body-image
                        img(class="card-image" src=imagen alt=titulo)
                    .body-content
                        div.card-indicadores-text
                            h2.title-card-indicadores=bodytitle
                            p=bodytext
                        div(class="card-indicadores-footer")
                            a(class="btn btn-outline-gray btn-sm footer-btn")=boton


mixin capsulaCard(imagen, titulo, texto, boton)
    .card-box
        .card
            img.card-img-top(src=imagen alt=titulo)
            .card-body
                a(class="capsula-link" href="#")
                    h3.card-title-capsulas=titulo
                p.card-text-capsulas=texto
            .card-footer
                a.btn.btn-outline-gray.btn-sm(href='#')=boton
